MAKEFILE4LATEX_REVISION = v{{ cookiecutter._makefile_version }}
BUILDDIR = .build
{% if cookiecutter.formatter == 'None' %}
PRETTIFIERS =
{% endif %}
{% if cookiecutter.linter == 'None' %}
LINTS =
{% endif %}
