{
  {% if cookiecutter.formatter == 'None' %}
  "[latex]": {
    "editor.formatOnSave": false
  },
  {% elif cookiecutter.formatter == 'latexindent' %}
  "latex-workshop.formatting.latex": "latexindent",
  "latex-workshop.formatting.latexindent.args": [
    "-c",
    "%DIR%/",
    "-l",
    "%TMPFILE%",
    "-y=defaultIndent: '%INDENT%'"
  ],
  {% endif %}

  {% if cookiecutter.linter == 'ChkTeX' %}
  "latex-workshop.linting.chktex.enabled": true,
  "latex-workshop.linting.chktex.exec.args": [],
  {% endif %}

  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimTrailingWhitespace": true,

  "[bibtex]": {
    {{ cookiecutter.indent | indent_vscode }}
  },
  "[latex]": {
    {{ cookiecutter.indent | indent_vscode }}
  },
  "[json]": {
    {{ cookiecutter.indent | indent_vscode }}
  },
  "[yaml]": {
    {{ cookiecutter.indent | indent_vscode }}
  },

  "[makefile]": {
    "editor.insertSpaces": false
  },

  "files.associations": {
    "*.mk": "makefile"
  },

  "latex-workshop.latex.recipes": [
    {
      "name": "make 🔃",
      "tools": [
        "make"
      ]
    }
  ],
  "latex-workshop.latex.tools": [
    {
      "name": "make",
      "command": "make",
      "args": [
        "-C",
        "%DIR%",
        "USE_LATEX_WORKSHOP=1",
        "%DOCFILE%.pdf"
      ]
    }
  ],
  "makefile.configureOnOpen": false
}
